.hud {
  width: 1000px; 
  height: auto; 
  position: fixed;
  top: -100px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; 
  background-color: transparent;
}

.wasd {
  width: 350px; 
  height: auto; 
  position: fixed;
  bottom: 10px; 
  right: 10px;  
  z-index: 1000; 
  background-color: transparent;
}

.mouse {
  width: 350px; 
  height: auto; 
  position: fixed;
  bottom: 10px; 
  left: 10px;  
  z-index: 1000; 
  background-color: transparent;
}
